@if(displayAddNewTaskGrid) {
    <app-new-task (closePopupEvent)="closePopupGrid()"></app-new-task>
}

<section id="tasks">

    <header>
        <h2>{{selectedUserObj.name}}'s Tasks</h2>
        <menu>
            <button (click)="openNewTaskPopup()">Add Task</button>
        </menu>
    </header>
    
    <ul>
        @for(task of selectedUserTasks; track task.id) {
            <li>
                <app-task [task]="task" (completeTaskEvent)="markTaskAsComplete($event)"></app-task>
            </li>
        }
    </ul>

</section>